<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
<link rel="stylesheet" href="static/css/style_animated.css">
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/style_mobile.css">
<script src="static/dark_mode.js"></script>
<button onclick='changeColorMode()' class="switch">◐ change color scheme</button>
<div id="information"></div>
<div id="global">
<div id="wordspace"></div>
<div id="prompts"></div>
</div>
<script src="static/XML.js"></script>
<script src="static/links__util.js"></script>
<script src="static/links.js"></script>
<script src="static/information.js"></script>
<script src="static/prompts.js"></script>

<script>
    const MS_DAY = 86400000
    data = JSON.parse('{{data|tojson|safe}}');
    let prompt = data['prompt']
    let i = data['i']
    let prompts = data['prompts']
    let results = data['results']
    renderInformation("go from " + prompt)
    renderPrompts(prompts,i)
    renderLinks(prompt, results)
    activateLinks()
    if(Math.round(Date.parse(new Date()) / MS_DAY) == Math.round(Date.parse(localStorage.getItem("lastComplete")) / MS_DAY)){
        freezeScreen()
    }
</script>

<footer class="ma0 mid-gray fixed absolute right-1 bottom-0">
    <!--<img class="voyager" src="../static/images/voyager.png">-->
    <p class="f5 db tc ma1 footer "> © the new expeditionary society
    </p>
  </footer>