html {
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.switch {
    color: var(--text-color);
    background-color: transparent;
    outline: none;
    border: none;
}

span, p{ 
    font-size: 1.3em;
 }

 button {
    outline: 1px solid var(--border-color);
 }
 button:hover{
    color: var(--hover-color);
    outline: 1px solid var(--hover-color);
 }

 .link {
    color: var(--text-color);
    height: 8vh;
    min-width: 15vw;
    max-width: 20vw;
    text-align: left;

    border:none;
    outline:none;
    background-color: transparent;
}

.link--starting{
    color: var(--grayed-out-color);
}

.link--disabled{
    pointer-events: none;
    color: var(--grayed-out-color);
}

.link--target {
    color: rgb(0, 198, 0);
}

.prompt {
    color: var(--text-color);
}

.prompt--done {
    color: var(--grayed-out-color);
}

#global {
    display: flex;
    justify-content:space-around;
}

#information {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
}

#wordspace {
    margin-top: 2em;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#wordspace span { 
    font-size: 1.8em;
}

#prompts {
    padding: 2em 2em;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#wordspace button {transition: 30ms ease-out;}
#wordspace button:not(.greyed-out):hover {
transform: scale(0.99);
}
  