html {
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.switch {
    color: var(--text-color);
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 2.3em;
}

.switch--outlined {
    width: 12em;
    margin-top: 1.5em;
    font-size: 2em;
    padding: 0.5em 1em;
    outline: 1px solid var(--grayed-out-color);
}

.help {
    background-color: var(--background-color);
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 10vh;
    margin-left: auto; 
    margin-right: auto; 
    width: 80vw;
    height: 80vh;
    outline: 1px solid var(--grayed-out-color);
    display: flex;
    justify-content: center;
}

.help_container {
    width: 45em;
    display: flex;
    flex-wrap: nowrap;
    padding: 2em 2em;
    flex-direction: column;
    align-items: center;
}

.help-text {
    margin-top: 2em;
}
.help-text p{
    margin: 1em;
}
.--grayed-out {
    color: var(--grayed-out-color)
}
.--small {
    font-size: 1.2em;
}

span, p{ 
    font-size: 1.5em;
 }

button {
    outline: 1px solid var(--border-color);
 }

button {transition: 30ms ease-out;}
button:not(.greyed-out):hover {
transform: scale(0.99);
}
  

 .link:hover{
    color: var(--hover-color);
    outline: 1px solid var(--hover-color);
 }

 .link {
    color: var(--text-color);
    height: 8vh;
    min-width: 15vw;
    max-width: 20vw;
    text-align: left;

    border:none;
    outline:none;
    background-color: transparent;
}

.link--starting{
    color: var(--grayed-out-color);
}

.link--disabled{
    pointer-events: none;
    color: var(--grayed-out-color);
}

.link--target {
    color: rgb(0, 198, 0);
}

.prompt {
    color: var(--text-color);
}

.prompt--done {
    color: var(--grayed-out-color);
}


#global {
    display: flex;
    justify-content:space-around;
}

#settings{
    display: flex;
    justify-content: flex-end;
}

#settings *+* {
    margin: 1em 2em;
}

#information {
    width: 80vw;
    display: flex;
    justify-content: center;
}

#wordspace {
    margin-top: 2em;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#wordspace span { 
    font-size: 1.8em;
}

#prompts {
    padding: 2em 2em;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
