@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes rainbow_animation {
    0% {
      background-position: 0 0;
    }
  
    100% {
      /*50% + width of single cell */
      background-position: 63% 0;
    }
  }
  
  .rainbow_text_animated:hover {
    
    overflow: hidden;
    opacity: 1;
    background: linear-gradient(to right, #cccc33, #00CC55, #ff3399, #6666ff, #0099ff, #cccc33, #00CC55, #ff3399, #6666ff, #0099ff);
    background-clip: text;
    color: rgba(255, 255, 255, 0.7);
    animation: rainbow_animation 7s linear infinite;
    background-size: 500% 100%;
    -webkit-text-fill-color: white;
    animation-duration: 1s;
    background-size: 800% 100%;
    -webkit-background-clip: border-box;
    background-clip: border-box;
  }

  .rainbow_text_animated {
    overflow: hidden;
    opacity: 1;
    background: linear-gradient(to right, #cccc33, #00CC55, #ff3399, #6666ff, #0099ff, #cccc33, #00CC55, #ff3399, #6666ff, #0099ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(255, 255, 255, 0.1);
    animation: rainbow_animation 7s linear infinite;
    background-size: 500% 100%;
    -webkit-text-fill-color: rgba(200, 200, 200, 0.2);
    animation-duration: 1s;
    background-size: 800% 100%;
  }
